@import 'tailwindcss';
@import 'tw-animate-css';
* {
  font-family: var(--font-montserrat) !important;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --font-general-sans: 'General Sans', sans-serif;

  --font-dm-sans: 'DM Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

.slanted-bg {
  clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
